# Не копировать в образ систему контроля версий
.git
.gitignore

# Не копировать файлы Docker и Docker Compose
Dockerfile
docker-compose.yml

# Не копировать секреты напрямую в образ
.env

# Исключить папки виртуального окружения и кеш
.venv/
__pycache__/
